# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Rust
target/
**/*.rs.bk

# Go
vendor/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Test Artifacts/Cache
rustbert_test_*
openspec/
.claude
.ralphy
.cursor

